body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  font-size: 0.9rem;
}

.border {
  border: 1px solid black;
  padding: 1rem;
  margin: 0.5rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button,
input {
  margin: 0.25rem;
}
